.container {
}
.container__element {
  width: 100%;
  height: 200px;
  background-color: blue;
  position: relative;
}

.container__element--colorred {
  background-color: red;
}

.container__element--coloryellow {
  background-color: yellow;
}

.container__square-one {
  width: 200px;
  height: 50px;
  background-color: black;
  position: absolute;
  bottom: -50px;
  left: -200px;
}

.container__square-two {
  width: 200px;
  height: 50px;
  background-color: aqua;
}
