.container__row {
  max-width: 100%;
  background-color: aqua;
  height: 300px;
  position: relative;
}

.container__square {
  height: 100px;
  width: 100px;
  background-color: beige;
}

.container__square--colorred {
  background-color: red;
  position: absolute;
  top: 100px;
  left: 900px;
}
