.rectangle {
  width: 400px;
  height: 600px;
  background-color: #000001;
  margin: 0 auto;
  position: relative;
}

.rectangle__close-button {
  position: absolute;
  right: -45px;
  top: -45px;
}

.rectangle__users-name {
  font-size: 24px;
}

.rectangle__users-name:hover {
  color: aqua;
}

.rectangle__users-name::after {
  content: " <- BORING";
  color: darkviolet;
  font-weight: bolder;
}

.rectangle__university-name {
  font-family: "Roboto Flex";
  font-style: normal;
  font-weight: 100;
  font-stretch: 100%;
}

@media screen and (max-width: 1280px) {
  .rectangle {
    width: 300px;
    height: 500px;
  }
}

@media screen and (max-width: 758px) {
  .rectangle {
    width: 200px;
    height: 400px;
  }
}
